
{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style-type: none;
}

@media only screen and (max-width: 959px) {
  html{
   font-size: 16px;
  }
}

@media only screen and (min-width: 960px) {
  html{
   font-size: 20px;
  }
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
font-family:Arial, Helvetica , sans-serif;
background-color:white;
color:DimGrey;
}
/*----------------------------------------------------------------------------*/

@media only screen and (max-width: 959px) {
.navbar{
  display:none;
}
}
/*---------------------------------------over 960px-----------------------------*/
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: cornflowerblue;
  box-shadow: 0.25px 0.25px 5px gray;
}

.screen{
  position:absolute;
  float:left;
}

/* Navigation links */
.navbar a {
  float: right;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
  font-weight: bold;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 1.3rem;
  border: none;
  outline: none;
  color: white;
  font-size: 1.3rem;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: skyblue;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: skyblue;
  width: 100%;
  z-index: 1;
 /* box-shadow: 0.25px 0.25px 5px gray; */
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color:DimGrey;
  color: white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
/*--------------------------under 960px  --------------------------------------------------*/


/* Style the navigation menu */
.topnav {
 /* overflow: hidden; */
 background-color:cornflowerblue;
 position: relative;
 box-shadow: 0.25px 0.25px 5px gray;
}
@media only screen and (min-width: 960px) {
 .topnav{
   display:flex;
   align-items: center;
   justify-content: space-between;
 }
}
/* Hide the links inside the navigation menu (except for logo/home) */

@media only screen and (min-width: 960px) {
 .topnav #myLinks {
   display: flex;
 }
}

@media only screen and (max-width: 959px) {
 .topnav #myLinks {
   display: none;
 }
}

/* Style navigation menu links */
.topnav a {
 color:white;
 padding: 15px 20px;
 text-decoration: none;
 font-size: 1.25rem;
 display: block;
  font-weight: bold;
}

/* Style the hamburger menu */

@media only screen and (max-width: 959px) {
 .topnav a.icon {
   background: DimGrey;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }
}

@media only screen and (min-width: 960px) {
 .topnav a.icon {
   display: none;
 }
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
 background-color: white;
 color: cornflowerblue;
   transition: 0.5s;
}

@media only screen and (max-width: 959px) {
  .topnav #myLinks a:hover {
    border-bottom:3px solid DimGrey;
  }
}

/* Style the active link (or home/logo) */
.logo {
 background-color:skyblue;
 color: white;
 font-weight: bold;
}

.logo.screen:hover{
  background-color: white;
  color:cornflowerblue;
}

@media only screen and (min-width: 960px) {
.topnav{
  display:none;
}
}


/*----------------------------------------------------------------------------*/

.container {
  max-width: 1088px;
  margin: 0 auto;
  padding:1em;
}

/*----------------------------------------------------------------------------*/

header#home {
  /* height: 100vh; */
  /* background-image: url(../images/Image.jpg); */
  /*
  background-image: url(https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
   */

  /* width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0.5px 0.5px 10px gray; */
  /* border:5px solid yellow; */
}


/*
.transparency {
  background-color: #00000066;
  background-image: linear-gradient(to bottom , rgba(50, 82, 3, 0.25), rgba(202, 212, 241, 0.75));
  height: 100vh;
  width: 100%;
}  */
/**/
/*-------------------------content----------------------------------------------------*/

/*---------------------------------content style.css for home---------------------------------------------*/

/*--------------HOME page  style-------------*/

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: DarkSlateGrey;
} */

.slider-img-home{
  width:100% ;
  box-shadow: 0.3px 0.3px 5px DarkSlateGrey;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
margin:1em 1em 0 1em;
  background-color: cornflowerblue;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0.5px 0.5px 3px DarkSlateGrey;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: skyblue;
  transition:0.5s ease;
}

.dot:active {
  background-color: DimGrey;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*--------------------content home index.html*/

h1 , h3, p{
  text-align: center;
}
h1{
  text-shadow: 0.3px 0.3px 2.5px DarkSlateGrey;
}

#programare{
  text-decoration: none;
  color:DarkSlateGrey;
  padding: 1em 2em;
  border-radius: 0.3em;
  border:3px solid DarkSlateGrey;
  box-shadow: 0.3px 0.3px 5px DarkSlateGrey;
font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.3em;
  font-size: 1.3rem;
  text-shadow: 0.3px 0.3px 2.5px DarkSlateGrey;
}

#programare:hover{
  color:white;
  background-color: DarkSlateGrey;
  transition:0.5s ease;
}

.info-home{
  height: auto;
}

@media only screen and (min-width: 960px) {
  #inside-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 959px) {
  #inside-header{
    display: block;
    text-align: center;
  }
}

#inside-header a{
  text-decoration: none;
  color:cornflowerblue;
  text-shadow: 0.3px 0.3px 2.5px DarkSlateGrey;
    letter-spacing: 0.3em;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
}

#inside-header a:hover{
  color:skyblue;
  transition:0.5s ease;
}

#inside-header a:active{
  color:DimGrey;
}

.section-on-page{
  /* height:70vh; */
  height: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.important{
  color:cornflowerblue;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

#informatii p a{
  color:cornflowerblue;
  text-decoration: none;
  font-weight: bold;
}

#informatii p a:hover{
  color:skyblue;
}

#informatii p a:active{
  color:DimGrey;
}

@media only screen and (max-width: 959px) {
  .article-home-informatii{
    display:block;
  }
}

@media only screen and (min-width: 960px) {
  .article-home-informatii{
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .article-home-informatii p{
  padding: 0 1em;
width: 50%;
  }
}

.center-content{
  display: flex;
  text-align: center;
  justify-content: center;
}

.question-image{
  width:50%;
  box-shadow: 0.3px 0.3px 2.5px DarkSlateGrey;
  border-radius: 0.3em;
}


/*--------------HOME index.html style-------------*/

/*--------------------------content style css for home---------------------------------------------------*/

/*-----------------------contact-----------------------------------------------------------*/

/*   cornflowerblue  #6495ED */

/*   DarkSlateGrey  #2F4F4F */

.contact{
  color:cornflowerblue;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 1em 2em;
  border-radius: 0.3em;
  border:3px solid DarkSlateGrey;
  box-shadow: 0.3px 0.3px 5px DarkSlateGrey;
  margin-top: 3em;
  margin-bottom: 6em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



@media only screen and (min-width: 960px) {
  .article-contact-tel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border:3px solid indigo; */
    width: 100%;
  }

  .svg-tooth{
    height: 50px;
    width: 50px;
  }

  #contact-program ion-icon{
    height: 50px;
    width: 50px;
  }

}

@media only screen and (max-width: 959px) {
  .article-contact-tel{
    display: block;
  }

  .svg-tooth{
    height: 40px;
    width: 40px;
  }

#contact-program ion-icon{
  height: 40px;
  width: 40px;
}

}

#img-img{
  border-radius: 0.3em;
  box-shadow: 0.3px 0.3px 5px DarkSlateGrey;
}

/*-----------------------contact-----------------------------------------------------------*/

/*footer*/

.hidden{
  display:none;
}
footer h3{
  color:white;
  text-align: center;
}
footer a{
text-decoration: none;
}
footer a h3:hover{
  color:skyblue;
}
footer a h3:active{
  color:DimGrey;
}


footer {
  background-color:cornflowerblue;
    padding: 15px 0;
    height:auto;
}

footer #icons {
  margin-top: 1em;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .footerIcons a {
  color:white;
  font-size: 3rem;
}

footer .footerIcons a:hover {
  color: skyblue;
  font-weight: bold;
}

footer .footerIcons a:active {
  color: DimGrey;
  font-weight: bold;
}

#divSources h5 {
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

#divSources h5 a {
  color:white;
}

#divSources h5 a:hover {
  color: skyblue;
  transition: 0.5s;
  font-weight: bold;
}

#divSources h5 a:active {
  color: DimGrey;
}

/* media screen for footer  */
@media screen and (max-width: 959px) {
  #divSources h5 {
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin: 0.5em 0;
  }

  footer #icons {
    font-size: 1rem;
    display: block;
    text-align: center;
  }

  footer #icons div {
    padding: 0.7em 0;
  }
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}
small{
  color:white;
}
/**/
